* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #A78FCF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    position: relative;

}

canvas {
    background-color: aliceblue;
    display: block;
    border-radius: 5px;

}

h1 {
    font-size: 55px;
    color: aliceblue;
    margin-bottom: 50px;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(139, 15, 15);
    color: antiquewhite;

}

.btn:hover {

    background: #222;
}

.btn:active {
    transform: scale(0.9);
}

#rules-button {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: aquamarine;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;

}

.rules.show {
    transform: translateX(0);
}

#buttonStartAandSound {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 800px;

}

#startBtn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(139, 15, 15);
    color: antiquewhite;
}

#divSong {
    width: 400px;
    height: auto;
    position: fixed;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 10px;

}

#divSong #song {
    list-style: none;
}

.lyricsLine {
    list-style: none;
    line-height: 1.5;
    letter-spacing: 1.5;
    color: #b52323;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.popup-contianer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {

    background-color: #2980b9;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    border-radius: 3px;
    padding: 12px 20px;
    margin-top: 20px;
    color: antiquewhite;
    background-color: blue;
    border: 0;

}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}